body {
  font-family: "Roboto Mono";
  background-color: #fafafa;
  overflow: hidden; }

/* positions */
.material-icons.md-mg-left-10 {
  margin-left: 10px; }

.material-icons.md-mg-left--10 {
  margin-left: -20px; }

.material-icons.md-mg-top-10 {
  margin-top: 5px; }

/* size */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-30 {
  font-size: 30px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* color */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light {
  color: white; }

.material-icons.md-super-light {
  color: #e0e0e0; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.bottom-panel {
  visibility: hidden;
  -webkit-box-shadow: 3px -6px 28px -10px rgba(33, 33, 33, 0.68);
  -moz-box-shadow: 3px -6px 28px -10px rgba(33, 33, 33, 0.68);
  box-shadow: 3px -6px 28px -10px rgba(33, 33, 33, 0.68);
  background-color: #448AFF;
  position: absolute;
  border-radius: 16px 16px 0px 0px;
  bottom: -92%;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden; }

.more-btn {
  padding: 10px;
  height: 50px;
  color: #fff; }

.centered {
  position: fixed; }

.search-box {
  position: absolute;
  width: 320px;
  height: 180px;
  border-radius: 10px;
  background-color: #448AFF;
  -webkit-box-shadow: 3px 9px 28px -10px rgba(33, 33, 33, 0.68);
  -moz-box-shadow: 3px 9px 28px -10px rgba(33, 33, 33, 0.68);
  box-shadow: 3px 9px 28px -10px rgba(33, 33, 33, 0.68);
  padding: 20px;
  top: 10px; }

*::-webkit-input-placeholder {
  margin-left: 10px; }

#search-input-box {
  padding: 20px;
  border: none;
  background-color: #F5F5F5;
  height: 45px;
  width: 100%;
  border-radius: 6px; }

.title-search {
  font-size: 18px;
  color: #FAFAFA;
  margin-bottom: 10px; }

@media only screen and (max-width: 425px) {
  .bottom-panel {
    font-family: "Roboto Mono";
    visibility: visible;
    -webkit-box-shadow: 3px -6px 28px -10px rgba(33, 33, 33, 0.68);
    -moz-box-shadow: 3px -6px 28px -10px rgba(33, 33, 33, 0.68);
    box-shadow: 3px -6px 28px -10px rgba(33, 33, 33, 0.68);
    background-color: #448AFF;
    position: absolute;
    border-radius: 16px 16px 0px 0px;
    bottom: -92%;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden; }

  .more-btn {
    padding: 10px;
    height: 50px;
    color: #fff;
    transition: transform 600ms; }

  .centered {
    position: fixed; }

  .box-2 {
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }

  .more-btn.animate {
    transform: translateX(20rem); }

  .search-box {
    position: absolute;
    width: 95%;
    height: 180px;
    font-family: "Roboto Mono";
    border-radius: 10px;
    background-color: #448AFF;
    -webkit-box-shadow: 3px 9px 28px -10px rgba(33, 33, 33, 0.68);
    -moz-box-shadow: 3px 9px 28px -10px rgba(33, 33, 33, 0.68);
    box-shadow: 3px 9px 28px -10px rgba(33, 33, 33, 0.68);
    padding: 20px;
    top: 10px; }

  *::-webkit-input-placeholder {
    margin-left: 10px; }

  #search-input-box {
    padding: 20px;
    border: none;
    background-color: #F5F5F5;
    height: 40px;
    width: 100%;
    border-radius: 6px; }

  .title-search {
    font-size: 18px;
    color: #FAFAFA;
    margin-bottom: 10px; }

  .more-title {
    visibility: visible;
    margin-top: 6px;
    margin-left: 10px;
    font-size: 16px; } }
@media only screen and (max-width: 320PX) {
  .more-title {
    margin-top: 6px;
    margin-left: 10px;
    font-size: 14px; } }
