@import "modules/colors";
 body{
          font-family: "Roboto Mono";
           background-color:$bg;
          overflow: hidden;
}

//modify google Icon//

/* positions */
.material-icons.md-mg-left-10{margin-left: 10px;}
.material-icons.md-mg-left--10{margin-left: -20px;}
.material-icons.md-mg-top-10{margin-top: 5px;}
/* size */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
    /* color */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-super-light { color:#e0e0e0; }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
    
//end of modify google icon//
.bottom-panel{
  visibility: hidden;
}
.more-btn{
  padding:10px;
  height: 50px;
  color:#fff; 
}
.centered {
  position: fixed;
}
.search-box{
  position: absolute;
  width:320px;
  height:225px;
  border-radius:10px;
  background-color:$panel;
 -webkit-box-shadow: 3px 9px 28px -10px rgba(33,33,33,0.68);
  -moz-box-shadow: 3px 9px 28px -10px rgba(33,33,33,0.68);
  box-shadow: 3px 9px 28px -10px rgba(33,33,33,0.68);
  padding: 20px;
  top:10px;
}
.detail-box{
  position: absolute;
  width:320px;
  height:200px;
  border-radius:10px;
  background-color:$bg;
  -webkit-box-shadow: 3px 9px 28px -10px rgba(33,33,33,0.68);
  -moz-box-shadow: 3px 9px 28px -10px rgba(33,33,33,0.68);
  box-shadow: 3px 9px 28px -10px rgba(33,33,33,0.68);
  padding: 20px;
  top:250px;

}
*::-webkit-input-placeholder {
    margin-left: 10px;
    
}

#search-input-box{
  padding: 20px;
  border: none;
  background-color: #F5F5F5;
  height: 45px;
  width: 100%;
  border-radius: 6px;
}
.title-search{
  font-size: 18px;
  color: #FAFAFA;
  margin-bottom: 10px;
}
 #search-btn {
     font-family: "Roboto Mono";
            margin-top: 7px;
            background-color:$btn-search-color;
           border: none;
           color: $bg;
           width: 100%;
            height: 38px;
            font-size: 16px;
            border-radius: 6px;
           
        }
          #search-btn:hover{
             background-color:$btn-search-color-hover;
             box-shadow: 3px 9px 28px -10px rgba(33,33,33,0.40);
          }


@media only screen and (max-width:425px){
  .detail-box{
     visibility: hidden;
  }
      .bottom-panel{
        font-family: "Roboto Mono";
        visibility: visible;
        -webkit-box-shadow: 3px -6px 28px -10px rgba(33,33,33,0.68);
        -moz-box-shadow: 3px -6px 28px -10px rgba(33,33,33,0.68);
        box-shadow: 3px -6px 28px -10px rgba(33,33,33,0.68);
        background-color:$panel;
        position: absolute;
        border-radius: 16px 16px 0px 0px;
        bottom: -92%;
        height: 100%;
        width: 100%;
        cursor:pointer;
        font-size:16px;
        // transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
        //  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        overflow: hidden;
      
      }
      .more-btn{
        padding:10px;
        height: 50px;
        color:#fff; 
         transition: transform 600ms;
      }
      .centered {
        position: fixed;
      }
      .box-2 {
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }

        .more-btn.animate {
          transform: translateX(20rem);
        }

      .search-box{      
        width:95%;
        height: 215px;
      }
      *::-webkit-input-placeholder {
          margin-left: 10px;
          
      }

      #search-input-box{
        padding: 20px;
        border: none;
        background-color: #F5F5F5;
        height: 40px;
        width: 100%;
        border-radius: 6px;
      }
      .title-search{
        
        font-size: 18px;
        color: #FAFAFA;
        margin-bottom: 10px;
      }
      .more-title{
        visibility: visible;
         margin-top:6px; 
         margin-left:10px; 
         font-size:16px;
        }

}
    @media only screen and (max-width:320PX){
  .more-title{
         margin-top:6px; 
         margin-left:10px; 
         font-size:14px;
        }
}































// .particle {
//   position: absolute;
//   top: 0; right: 0; bottom: 0; left: 0;
//   margin: auto;
//   width: $BASE_SIZE;
//   height: $BASE_SIZE;
//   border-radius: 50%;
//   @if($SHADOWS){
//     box-shadow: 0 ($BASE_SIZE*.2) ($BASE_SIZE*.2) rgba(0,0,0,.3), 
//                 0 (-$BASE_SIZE*.4) ($BASE_SIZE*.2) rgba(0,0,0,.1) inset,
//                 0 ($BASE_SIZE*.6) ($BASE_SIZE*.2) rgba(255,255,255,.1) inset;
//   }
//   opacity: 0;
//   animation: doit $ANIMATION_DURATION infinite $ANIMATION_EASE;
//   animation-direction: $ANIMATION_DIRECTION;
//  }

//  @keyframes doit {
//   0% { opacity: 0; }
//   5% { opacity: 1; }
//   100% { 
//     opacity: 1;
//     transform: translateX(0) translateY(0) scale($INITIAL_SCALE);
//   } 
// }


// $i: 1;
// @for $i from $i through $NUM_PARTICLES {
//   $coords: calcCoords();
//   $x: nth($coords,1) * $RADIUS;
//   $y: nth($coords,2) * $RADIUS;
//   $c: nth($coords,3); // hypoteneuse - the distance from center
//   $d: sin($c*$pi/2); // to a nice curve
//   #particle#{$i} {
//     background: hsla($BASE_HUE + $d * $HUE_DIFF, 100%, (80% - 30% * $d), 1);
//     transform: translateX($x) translateY($y) scale(1-$d);
//     animation-delay: -1 * random($ANIMATION_DURATION) + ms;
//     //z-index: $NUM_PARTICLES + floor($NUM_PARTICLES*$d);
//   }
// }
